@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

header{
    background: linear-gradient(to right, #560d19, #000000); 
    width: 100%; height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    padding: 5px 10%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

img.logo{
    cursor: pointer;
    transition: all 0.3s;
}

img.logo:hover{
    transform: scale(1.2);
}

ul{
    list-style: none;
}

li{
    display: inline-block;
    padding: 0 20px;
    font-weight: bold;
}

li a{
    font-size: 800;
    color: #eceff1;
    text-decoration: none;
}

ul li a{
    display: block;
    position:relative;
    text-decoration:none;
    padding:5px;
    font-size:18px;
    font-family: sans-serif;
    color:#fff;
    text-transform:uppercase;
    transition:0.5s;
  }

ul li a:hover{
    transform:scale(2);
    opacity:1;
    filter:blur(0);
    text-decoration:none;
    color:#fff;
  }
  
  ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:red;
    transition:0.5s;
    transform-origin:right;
    transform:scaleX(0);
    z-index:-1;
  }
  
  ul li a:hover:before{
    transition:transform 0.5s;
    transform-origin:left;
    transform:scaleX(1);
  }


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

main{
    background-color: #ececec;
}

.primerafoto{
    height: auto;
    width: 100%;
}

.centrado{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 800;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}

.centrado p{
    font-size: 120%;
}

p.motogp{
    font-size: 50%;
}

p.motogp sup{
    font-size: 50%;
}

h1{
    font-size: 400;
    font-size: 180%;
    margin-top: 5%;
    margin-left: 5%;
}

figure{
    display: inline-block;
    justify-content: center;
}

figure img{
    max-width: 30%;
    height: auto;
    margin: 20px;
    padding: 5px;
    display: inline-block;
    margin: auto;
    position: relative;
    left: 5%;
    right: 5%;
}

figure img:hover{
    transform: scale(1.2);
}

article{
    margin-top: 10%;
}

table{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 4px;
    margin-bottom: 3%;
    
    
}

td.numeros{
    width: 15%;
    font-weight: 800;
    font-size: 180%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

td.lugar{
    width: 50%;
    font-weight: 800;
    font-size: 200%;
    background-color: white;
    border-radius: 5px;
    text-align: left;
    padding-left: 2%;
}

td img{
   width: 100%;
   height: 100%;
   border-radius: 4px;
   padding: 0%;
   cursor: pointer;
}

td img:hover{
    transform: scale(1.1);
}

td.piloto{
    width: 25%;
    background-color: white;
    border-radius: 5px;
}

td.nombrepiloto{
    width: 25%;
    font-weight: 800;
    font-size: 120%;
    text-align: center;
}